:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  --post-color: #62EEA8;
  --delete-color: #FF9F9F;
  --light-color: #FFFEFC;
  --grey-color: #747E79;
  --dark-color: #000000;
  --primary-font: 'Cabin', sans-serif;
  --secondary-font: 'Calistoga', sans-serif;
  --border-width: 3px;
  --element-border-radius: 5px;
  --button-height: 5px;
  --small-button-height: 2px;
  --element-padding: 0.8em;
  --maximum-width: 320px;
  --primary-color: #646cff;
  --primary-color-hover: #535bf2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color-scheme: var(--color-scheme);
  color: var(--color);
  background-color: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

#app,
.container {
  max-width: var(--maximum-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#project-list,
#story-list,
#task-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

#project-list li,
#story-list li,
#task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5em 0;
  padding: var(--element-padding);
  background-color: #333;
  border-radius: var(--element-border-radius);
}

#project-list li .project-info,
#story-list li .story-info,
#task-list li .task-info {
  flex-grow: 1;
  padding-right: 1em;
}

#project-list li .project-name,
#story-list li .story-name,
#task-list li .task-name {
  font-weight: bold;
  margin-bottom: 0.2em;
}

#project-list li .project-description,
#story-list li .story-description,
#task-list li .task-description {
  margin-bottom: 0.5em;
}

#project-list li .buttons,
#story-list li .buttons,
#task-list li .buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-color-hover);
}

button {
  border-radius: var(--element-border-radius);
  border: 1px solid transparent;
  padding: var(--element-padding);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 0.5em;
  /* To ensure vertical spacing between buttons */
}

button:hover {
  border-color: var(--primary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input,
button {
  font-family: inherit;
  padding: var(--element-padding);
  border-radius: var(--element-border-radius);
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1em;
  text-align: center;
  border: var(--border-width) solid var(--dark-color);
}

input {
  font-weight: 300;
}

input::placeholder {
  color: var(--grey-color);
  opacity: 1;
}

.primary-btn {
  background-color: var(--primary-color);
  box-shadow: 0px var(--button-height) 0px 0px var(--dark-color);
  position: relative;
}

.primary-btn:hover {
  top: var(--button-height);
  box-shadow: none;
}

.google-btn-logo {
  width: 1.375em;
}

.secondary-btn {
  padding: 0.4em;
  background-color: transparent;
}

.secondary-btn:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.provider-btn {
  color: var(--dark-color);
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border: 0;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
}

.provider-btn:hover {
  transition: all 0.2s ease;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .25);
}

.icon-img-btn {
  width: 40px;
  height: 40px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 1.875em;
}

.icon-img-btn:hover {
  filter: invert(0.5);
}

#logged-out-view .container {
  gap: 2em;
}

#logged-out-view {
  display: none;
}

#logged-in-view {
  display: none;
  margin: 0;
}

.auth-fields-and-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

section {
  margin: 3em 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}